@{
    ViewBag.Title = "About";
}

<hgroup class="title">
     <h2>@ViewBag.Message</h2>
</hgroup>

<article>
      <p>
        Sending flowers is easy and safe with FlowerXoco. Through our network of flower shops you can send flowers for Birthdays, Anniversaries or any other occasion. We guarantee that every flower delivery will be of the highest quality and freshness!
      </p>
</article>

