<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="clientId" value="AZnVocnKaL8GBu5lb0CYwUiIWfFtWKebkvHxACOD8DvgS3B3Ro7nOdYJlxb-E6f6h31uYp72dAt6gb76" />
    <add key="clientSecret" value="ELjj-QVgEPy-uZ0C_N21RWfynw7fbUQHq5Pl3Y0MPXydTK6rgqIRYm-FoAlH3c5YL6oxeaSdeu3KVMps" />
  </appSettings>
  <connectionStrings></connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
</configuration>